# Data Preparation

Importando librerias

In [51]:
import pandas as pd
from datetime import datetime

In [59]:
raw_bus_data = pd.read_csv('../data/buses.csv')

In [60]:
raw_bus_data.head()

     id type  busCode  line  longitude   latitude            timestamp
0    76  Bus       76   217 -56.222400 -34.855885  2018-10-02T14:38:53
1   984  Bus      984   540 -56.201860 -34.909360  2018-10-02T14:39:08
2   288  Bus      288  7898 -56.175415 -34.901110  2018-10-02T14:39:08
3  1111  Bus     1111   254 -56.136640 -34.872833  2018-10-02T14:39:08
4    22  Bus       22   540 -56.135277 -34.845554  2018-10-02T14:39:08

El type es retornado por la plataforma Orion y no aporta valor a la solucion

In [61]:
raw_bus_data = raw_bus_data.drop(['type'], axis=1)
raw_bus_data.head()

     id  busCode  line  longitude   latitude            timestamp
0    76       76   217 -56.222400 -34.855885  2018-10-02T14:38:53
1   984      984   540 -56.201860 -34.909360  2018-10-02T14:39:08
2   288      288  7898 -56.175415 -34.901110  2018-10-02T14:39:08
3  1111     1111   254 -56.136640 -34.872833  2018-10-02T14:39:08
4    22       22   540 -56.135277 -34.845554  2018-10-02T14:39:08

Podemos ver que id y busCode son iguales, ahora intentamos demostrarlo comparando el largo del dataset con el largo del subdataset en el cual id y busCuode son iguales

In [62]:
print(len(raw_bus_data)- len(raw_bus_data[raw_bus_data.id == raw_bus_data.busCode]))

0

Podemos ver que son iguales y eliminamos busCode

In [63]:
raw_bus_data = raw_bus_data.drop(['busCode'], axis=1)
raw_bus_data.head()

     id  line  longitude   latitude            timestamp
0    76   217 -56.222400 -34.855885  2018-10-02T14:38:53
1   984   540 -56.201860 -34.909360  2018-10-02T14:39:08
2   288  7898 -56.175415 -34.901110  2018-10-02T14:39:08
3  1111   254 -56.136640 -34.872833  2018-10-02T14:39:08
4    22   540 -56.135277 -34.845554  2018-10-02T14:39:08

Podemos ver que el timestamp esta en encoding ISO 8601, lo pasamos a un formato de date que puedamos trabajar con python

In [64]:
raw_bus_data.timestamp = raw_bus_data.timestamp.apply(lambda t: datetime.strptime(t,'%Y-%m-%dT%H:%M:%S'))
raw_bus_data.head()

     id  line  longitude   latitude           timestamp
0    76   217 -56.222400 -34.855885 2018-10-02 14:38:53
1   984   540 -56.201860 -34.909360 2018-10-02 14:39:08
2   288  7898 -56.175415 -34.901110 2018-10-02 14:39:08
3  1111   254 -56.136640 -34.872833 2018-10-02 14:39:08
4    22   540 -56.135277 -34.845554 2018-10-02 14:39:08

Vamos a guardar los datos con los cambios realizados en `bus_data_stage_1.csv`

In [66]:
raw_bus_data.to_csv('../data/bus_data_stage_1.csv')